@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100;300;400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Commissioner", sans-serif;
  font-size: 16px;
  background-color: #FFFFFF;
}

.hidden {
  display: none;
}

.banner {
  width: 100%;
  height: 300px;
  background-image: url("images/banner.png");
  background-position: center;
  background-size: cover;
}

.main-container {
  width: 575px;
  margin: 0 auto;
  position: relative;
  top: -75px;
  display: flex;
  flex-direction: column;
}

.content-box {
  border-radius: 5px;
  margin: 10px 0;
  padding: 33px;
  background-color: #f1f2f1;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

.title-icon-container {
  padding: 20px;
  width: 150px;
  background-color: #ffffff;
  position: absolute;
  border-radius: 50%;
  top: -60px;
}

.title-icon-container img {
  width: 100%;
}

.title-text h1 {
  font-size: 1.5em;
  padding-bottom: 10px;
  margin-top:  50px;
}

.title-text p {
  font-size: .9rem;
  color: rgba(119, 119, 119,0.7);
}


.progress p {
  font-size: .9rem;
  color: rgba(119, 119, 119,0.7);
}

.stats {
  display: flex;
  justify-content: space-between;
}

.stats-section {
  width: 33%;
}

.stats-section {
  padding-left: 30px;
  padding-right: 30px;
  border-right: 1px solid rgba(119, 119, 119,0.3);
}

.stats-section:first-child {
  padding-left: 0;
}

.stats-section:last-child {
  border-right: none;
}

.stats-section h2 {
  font-size: 1.4em;
  margin-bottom: 5px;
}

.progress-bar {
  width: 100%;
  height: 12px;
  margin-top: 20px;
  background-color: rgba(119, 119, 119,0.1);
  border-radius: 100px;
  position: relative;
  overflow: hidden;
}

.loader {
  position: absolute;
  height: 12px;
  background-color: #FF5757;
  width: 89.914%;
}

.about h3 {
  font-size: 1em;
}

.about p {
  font-size: .9rem;
  line-height: 1.5;
  color: rgba(119, 119, 119,0.7);
  margin: 25px 0;
}

@media only screen and (min-width: 1400px) {
  .banner {
    height: 400px;
  }
}

@media only screen and (max-width: 800px) {
  .banner {
    height: 200px;
  }
}

@media only screen and (max-width: 600px) {
  .main-container {
    width: 450px;
  }

  .content-box {
    padding: 15px;
        background-color: #f1f2f1;
  }

}

.item_list{
  text-align: left;
}

.item_list a{
  text-decoration: none;
  font-weight: bold;
  color:  #000000;
}

/* MOBILE VIEWPORTS */
@media only screen and (max-width: 500px) {
  .banner {
    height: 300px;
    background-image: url("images/banner.png");
    background-position: center;
  }

  .main-container {
    width: 90%;
  }

  .content-box {
    padding: 35px;
    background-color: #f1f2f1;
  }

  .title-text h1 {
    padding: 0 40px 10px 40px;
  }

  .stats {
    flex-direction: column;
    align-items: center;
  }

  .stats-section {
    width: 100%;
    text-align: center;
    border-right: none;
    padding: 30px 0;
  }

  .stats-section:first-child {
    padding-left: 0;
  }

  .stats-section:last-child {
    border-right: none;
    border-bottom: none;
  }

  .stats-section h2 {
    font-size: 1.6em;
  }
}

